{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content-wrapper mt-3 pt-5">
    <center>
        <div class="card mt-3" style="width: 20rem;">
            <center>
                <img src="{% static 'img/logo.png' %}" class="img mt-3" alt="User Image" width="100" height="100">
            </center>
            <div class="card-body">
                <p class="card-text">Maaf, halaman ini masih dalam tahap pengembangan.</p>
            </div>
        </div>
    </center>
</div>
{% endblock %}