<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | ATI Dewantara</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row-md-2">
            <div class="col-md-4">
                <div class="card mt-4">
                    <div class="card-header">
                        LOGIN
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <label for="username">Username: </label>
                            <input type="text" name="username" id="username" class="form-control">
                            <br>
                            <label for="password">Password: </label>
                            <input type="password" name="password" id="password" class="form-control">
                            <br>

                            {{form.as_p}}
                            <button class="btn btn-primary">Masuk</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>

</html>